DASHSCOPE_API_KEY=sk-83fea41e71144fce9a22f331fa81094c
DEEPSEEK_API_KEY=sk-dca1aad724894484824c0c1ac40152a1
MiniMax_API_KEY=sk-cp--xPzG6PbyVBbg2LWbaHvvvIKFloIm2Q7kZ7tjbeg3N1jvJsLeEaaB1Mp04HLJ4M_aRPue29QEKg3ImjLqJuij1EKjvki9RuQanzSvcBjs8IDU8HMLX10ZsI
MiniMax_BASE_URL=https://api.minimaxi.com/v1
